IF NOT EXISTS(SELECT * FROM SYS.COLUMNS WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[NotaFiscalItem]') AND NAME = 'BaseCalculoIpi')
BEGIN
	ALTER TABLE NotaFiscalItem
	ADD BaseCalculoIpi DECIMAL(18,5)
END

IF NOT EXISTS(SELECT * FROM SYS.COLUMNS WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[NotaFiscalItem]') AND NAME = 'AliquotaIpi')
BEGIN
	ALTER TABLE NotaFiscalItem
	ADD AliquotaIpi DECIMAL(18,5)
END

IF NOT EXISTS(SELECT * FROM SYS.COLUMNS WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[NotaFiscalItem]') AND NAME = 'ValorIpi')
BEGIN
	ALTER TABLE NotaFiscalItem
	ADD ValorIpi DECIMAL(18,5)
END

IF  NOT EXISTS(SELECT * FROM SYS.COLUMNS WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[NotaFiscalItem]') AND NAME = 'Desconto')
BEGIN
	ALTER TABLE NotaFiscalItem
	ADD Desconto DECIMAL(18,5)
END 